/** { border: 1px solid red;}*/

html, body {
	width: 100%;
	height: 100%;
	background-color: #073766;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	border: 0;
	padding: 0;
	margin: 0;
	top: 0;
	font-size: 12pt;
}

nav {
	width: 100%;
}

a {
    text-decoration: none;
    color: #205F9C;
}

a:link {
    color: #205F9C;
}

a:visited {
    color: #205F9C;
}

a:hover {
	color: #F16522;
	background-color: #cbcbcb;
}

a:active {
	color: #F16522;

}

h1 {
	font-size: 18pt;
	text-transform: capitalize;
	padding-left: 2%;
}

h2 {
	font-size: 18pt;
	text-transform: capitalize;
}

h3 {
	font-size: 16pt;
	color: #F16522;
	text-transform: capitalize;
}

h4 {
	font-size: 14pt;
	color: #205F9C;
	text-transform: capitalize;
}

strong {
	font-size: 12pt;
}

.appContainer {
	padding: 0;
	margin: 0;
	background-color: white;
}

.topBar {
	position: absolute;
	top: 0;
	left: 0;
	background:
	linear-gradient(
		to right,
		rgba(204, 204, 204, .4),
		rgba(204, 204, 204, 1)
  	),
	repeating-linear-gradient(
		135deg,
		#b3b3b3 2px,
		#a6a6a6 8px
	);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

.logo {
	position: absolute;
	width: 40%;
	height: 100%;
	right: 0;
}

.logo-image {
	position: absolute;
	height: 80%;
	right: 0;
	top: 10%;
}

.menu {
	position: absolute;
	left: 0;
	width: 60%;
	height: 100%;
}

.menu-button {
	position: relative;
	height: 100%;
	width: 100%;
}

.menu-icon {
	position: absolute;
	width: 55px;
	height: 40px;
	top: calc((100% - 40px) / 2);
	left: 3%;
}

.drop-down {
	position: absolute;
	z-index: 2;
	top: 50;
	background-color: white;
	border: 1px solid #cbcbcb;
	padding: 0;
	margin: 0;
	box-shadow: 2px 2px 10px #a6a6a6;
}
.settings-menu ul,
.drop-down ul  {
	list-style: none;
	width: 100%;
	padding: 0%;
	margin: 0;
}

.settings-menu a,
.drop-down a {
	display: block;
	width: 92%;
	padding: 5% 2% 5% 6%;
}

.settings {
	position: absolute;
	top: 0;
	right: 1%;
	padding: 0;
}

.settings a:hover {
	background-color: white;
}
.setting-icon {
	width: 30px;
}
.settings-menu {
	position: absolute;
	right: 5px;
	top: 20;
	width: 70px;
	z-index: 2;
	background-color: white;
	border: 1px solid #cbcbcb;
	padding: 0;
	margin: 2%;
	box-shadow: 2px 2px 10px #a6a6a6;
}
.settings-menu a:hover {
	background-color: #cbcbcb;
}
.modal {
	position: fixed;
	display: inline-block;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.25);
}

.modal-dialog {
	position: absolute;
	background-color: white;
	z-index: 5;
}

.modal-header {
	width: 100%;
	height: 8%;
	padding-bottom: 2%;
}

.modal-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4% 0 0 4%;
	font-size: 20px;
	text-transform: capitalize;
	width: 80%;
	height: 5%;
	text-align: left;
}
.commute-list {
	width: 100%;
}
.alert-item {
	border-bottom: 1px solid #a6a6a6;
}
.alert-item:last-of-type {
	border: 0;
}
.alertIcon {
	position: relative;
	width: 20px;
	vertical-align: text-bottom;
	padding-right: 1%;
}

.alert-link {
	display: inline-block;
	width: 7em;
}

.alerts a:hover {
	background-color: transparent;
}

.close {
	position: absolute;
	top: 2%;
	right: 0;
	padding: 2%;
	font-size: 16px;
	background-color: white;
	color: #a6a6a6;
	width: 20%;

	text-align: right;
	z-index: 3;
}

.close a:hover {
	background-color: white;
}

table {
	border-collapse: collapse;
	margin: 2% 0 5% 0;
}

th {
	border-bottom: 2px solid #cbcbcb;
}

td {
	border-top: 1px solid #cbcbcb;
	font-size: 11pt;
}

td, th {

  padding: 0.5rem;
  text-align: left;
}

label, input {
	display: block;
	width: 96%;
	margin: auto;
	font-size: 1em;
}

label {
	font-weight: bold;
	padding: 0;
	margin: 0;
}

input, button, select {
	margin: 1% 0 3% 0;
	border-radius: 3px;
	font-size: 12pt;
	height: 1.5em;
	border: 1px solid #a6a6a6;
	outline: none;
}

.field {
	display: block;
	margin: 1% 0 3% 0;
	font-size: 12pt;
	height: 1.5em;
}

button {
	background-color: white;
}

button:hover {
	background-color: #6090BE;
}

button:active {
	background-color: #F16522;
}

.input-alert {
	display: block;
	height: 12pt;
	margin-bottom: 1%;
	color: red;
	font-size: 10pt;
}

/*.badge {
	font-weight: 10px;
	color: white;
	background-color: #F16522;
  	border-radius: 20px;
  	padding: 5px;
}*/
.message {
	position: absolute;
	text-align: center;
	width: 96%;
	left: 2%;
	right: 2%;
}


@media screen and (max-width: 700px) {

	.appContainer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: 0;
		overflow: hidden;
	}

	.topBar {
		z-index: 3;
		width: 100%;
		height: 10%;
		margin: 0;
		border: 1px solid #b3b3b3;
	}

	.content {
		width: 100%;
		height: 100%;

	}
	.ctlContainer {
		position: absolute;
		padding: 0;
		height: 90%;
		width: 100%;
		top: 10%;
		overflow-x: hidden;
		z-index: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

	}

	.drop-down {
		top: 50;
		width: 100%;
	}

	.drop-down a {
		display: block;
		width: 83.5%;
		padding: 8% 2% 8% 15%;
	}

	.modal-header {
		height: 220%;
		padding: 0 4% 1% 4%;
		margin: 0 4% 2% 4%;

	}

	.modal-dialog {
		position: absolute;
		padding: 0;
		height: 90%;
		width: 100%;
		top: 10%;
		z-index: 1;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.modal-body {
		position: relative;
		margin: 0% 0 1% 0;
		padding: 5% 4% 1% 4%;

	}

	.box {
		position: relative;
		width: 95%;
		border: 0px;
		border-radius: 0;
		padding: 5% 0 3% 0;
		margin: 2% 2% 3% 3%;
		border: 0;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
	}

	.commute {
		border: 1px solid #d9d9d9;
		margin: 3% 3% 2% 3%;
		padding: 0 2% 1% 2%;
		background-color: #f2f2f2;
	}

	.commute-header {
		position: absolute;
		left: 0;
		top: 0;
		width: calc(99% - 3px);
		border-radius: 0;
		padding: 1% 1% 0 2%;
		margin: 0;
		color: #368A00;
		font-size: 14pt;
		font-weight: 100;
	}

	.commute-name{
		font-size: 12pt;
		padding: 0;
		margin: 2% 0 0 0;
	}

	.commute-item {
		list-style: none;
		line-height: 150%;
		width: 100%;
	}

	.commuter-detail-header {
		padding-right: 5%;
	}

	.commute-detail, .commuter-detail-header {
		display: inline-block;
		margin-bottom: 1%;
	}
	.inner-box {
		width: 90%;
		height: 100%;
		margin: auto;
	}

}

@media screen and (min-width: 701px) {

	.appContainer {
		position: relative;
		height: 97%;
		width: 100%;
		max-width: 700px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 1%;
		border: 1px solid #616161;
		border-radius: 10px;

	}

	.topBar {
		width: 98%;
		height: 12%;
		margin: 1%;
		border-radius: 10px 10px 0 0;
		border: 1px solid #b3b3b3;
		z-index: 1;
	}

	.content {
		position: relative;
		padding: 0;
		height: 86%;
		width: 92%;
		top: 13%;
	}

	.ctlContainer {
		width: 100%;
		height: 100%;
		padding: 0 4% 0 4%;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 0;
	}

	.drop-down {
		top: 50;
		width: 80%;
	}
	.modal {
		z-index: 10;
	}

	.modal-dialog {
		position: absolute;
		height: 75%;
		top: 17%;
		left: 0;
		right: 0;
		width: 70%;
		max-width: 500px;
		margin-right: auto;
		margin-left: auto;
		border: 1px solid #616161;
		border-radius: 10px;
		padding: 0;
	}

	.modal-header {
		border-bottom: 1px solid #a6a6a6;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding: 0;
		height: 50px;
	}

	.modal-content {
		height: 100%;
		margin: 0;

	}

	.modal-body {
		height: calc(95% - 50px);
		width: 94%;
		padding: 0 3% 0 3%;
		margin: 0;
		overflow-y: auto;
		overflow-x: hidden;

	}

	.box {
		position: relative;
		width: 95%;
		/*border: 1px solid #808080;*/
		box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
		border-radius: 5px;
		padding: 3% 0 5% 0;
		margin: 3% 2% 3% 2%;
	}

	.commute {
		border: 1px solid #d9d9d9;
		margin: 5% 3% 2% 3%;
		padding: 0 5% 1% 5%;
		background-color: #f2f2f2;
	}

	.commute-header {
		position: absolute;
		left: 0;
		top: 0;
		width: calc(99% - 3px);
	/*	background-color: #808080;
		border: 2px solid #808080;*/
		border-radius: 4px 4px 0 0;
		padding: 1% 0 0 1%;
		margin: 0;
		color: #368A00;
		font-size: 14pt;
		font-weight: 100;
	}

	.commute-name {
		font-size: 12pt;
	}

	.commute-item {
		list-style: none;
		line-height: 150%;
		width: 100%;
	}

	.commuter-detail-header {
		display: inline-block;
		margin-bottom: 4%;
		padding-right: 5%;
	}

	.commute-detail {
		display: inline-block;

		margin-bottom: 4%;
	}

	.inner-box {
		/*position: absolute;*/
		width: 90%;
		height: 100%;
		margin: auto;
	}

}




