
<div ng-controller="BuilderCtrl">
	<h1>Commute Builder</h1>
	<div class="inner-box">

		<div ng-switch on="commute.edit">
			<div ng-switch-when="3">
				<label>Enter a name for your commute</label>
				<input type="text" ng-model="commute.name"></input> <button ng-click="commute.edit = 0">save</button>
			</div>
			<div ng-switch-default>
				<h3>{{ commute.name }}</h3>
			</div>
		</div>


		<div ng-show="commute.routeLegs.length > 0">
			<table>
				<thead>
					<tr>
						<th>Line/Direction</th>
						<th>Boarding Stop</th>
						<th>Exit Stop</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="myLeg in commute.routeLegs">
						<td>{{ myLeg.lineID }} / {{ myLeg.direction }}</td>
						<td>{{ myLeg.boardingStop }}</td>
						<td>{{ myLeg.disboardStop }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show="commute.edit == 1"><button ng-click="commute.edit = 0">Add Leg</button></div>

		<div ng-show="commute.edit == 0">
			<label>Please select a transit mode</label>
			<select ng-model="leg.mode">
				<option value="0">Subway</option>
				<option value="1" >Bus</option>
				<option value="2">Commuter Rail</option>
				<option value="3">Boat</option>
			</select>
		</div>



		<div ng-switch on="leg.mode">

			<div ng-switch-when="0">
				<label>Please select a line</label>
				<select ng-model="leg.selectedLine" ng-change="getStops(leg.selectedLine)" ng-options="item as item.route_name for item in AllRoutes[0]"></select>
			</div>
			<div ng-switch-when="1">
				<label>Please select a line</label>
				<select ng-model="leg.selectedLine" ng-change="getStops(leg.selectedLine)" ng-options="item as item.route_name for item in AllRoutes[2]"></select>
			</div>
			<div ng-switch-when="2">
				<label>Please select a line</label>
				<select ng-model="leg.selectedLine" ng-change="getStops(leg.selectedLine)" ng-options="item as item.route_name for item in AllRoutes[1]"></select>
			</div>
			<div ng-switch-when="3">
				<label>Please select a line</label>
				<select ng-model="leg.selectedLine" ng-change="getStops(leg.selectedLine)" ng-options="item as item.route_name for item in AllRoutes[3]"></select>
			</div>

		</div>
		<div ng-show="leg.selectedLine">
			<div class="trip">
				<label>Trip direction</label>
				<select ng-model="leg.direction" ng-options="item as item.direction_name for item in Stops"></select>
			</div>

			<div ng-show="leg.direction">
				<p>
					<label>Select boarding stop</label>
					<select ng-model="leg.boarding" ng-options="item as item.stop_name for item in Stops[leg.direction.direction_id].stop"></select>
				</p>
				<p>
					<label>Select deboarding stop</label>
					<select ng-model="leg.deboarding" ng-options="item as item.stop_name for item in Stops[leg.direction.direction_id].stop"></select>
				</p>
			</div>
			<div ng-show="leg.deboarding && leg.boarding">
				<button ng-click="addLeg()">Save Leg</button>

			</div>

		</div>
		<div ng-show="commute.edit == 1">
			<button ng-click="saveCommute()">Save Commute</button>

		</div>
	</div>
</div>
