		<div ng-controller="DashboardCtrl">
			<h1>Dashboard</h1>
				<div ng-if="allCommutes.length <= 0">
					<div class="commute">You have not setup any commutes. Click <a href="#/builder" ng-click="showMenu = false">here</a> to setup your commute.</div>
				</div>
				<div ng-if="allCommutes.length > 0">
					<div class="box" ng-repeat="commute in allCommutes">
						<h3 class="commute-header">{{ commute.name }}</h3>
						<div class="commute" ng-repeat="leg in commute.routeLegs">
							<h4 class="commute-name">{{leg.lineID}} / {{leg.direction}} / {{ leg.boardingStop.split("-")[0]}} to {{ leg.disboardStop.split("-")[0]}}</h4>
							<ul>
								<li class="commute-item"><strong class="commuter-detail-header">Predictions:</strong><span class="commute-detail"><em ng-repeat="prediction in allPredictions[commute.$id + '-' + $index].predictions | limitTo: 4">{{ (prediction.pre_away/60) | number:0}}{{$last ? ' minutes' : ', '}} </em><em  ng-hide="allPredictions[commute.$id + '-' + $index].predictions.length > 0">Unavailable</em></span></li>
								<li class="commute-item"><strong class="commuter-detail-header">Alerts: </strong> <span class="alerts commute-detail"> <a data-toggle="modal" ng-click="showAlert[leg.lineID] = !showAlert[leg.lineID]" ng-show="allAlerts[leg.lineID].length > 0" ><span class="badge">{{ allAlerts[leg.lineID].length }}</span></a>
									</span></li>
							</ul>

								<!-- Popup window to show alert information -->
								<div class="modal" ng-show="showAlert[leg.lineID]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								      	<div class="modal-title">Alerts for {{ leg.line }}</div>
								        <div class="close"><a ng-click="showAlert[leg.lineID] = !showAlert[leg.lineID]" aria-label="Close"><span aria-hidden="true">Close [X]</span></a></div>

								      </div>
								      <div class="modal-body" >
								      	<div class="alert-item" ng-repeat="alert in allAlerts[leg.lineID] | orderBy: '-last_modified_dt'">
									        <h3>{{ alert.effect_name }} - {{ alert.cause_name }}</h3>
									        <h4>{{alert.severity}} - {{alert.alert_lifecycle}}</h4>
									        <p>{{ alert.header_text }}</p>
									    </div>
								      </div>
								    </div>
								  </div>
								</div>
						</div>
					</div>
				</div>


		</div>
